.day-card {
  background: var(--bg-card-light, #fff);
  border: 1px solid var(--border-light, #ccc);
  border-radius: 8px;
  padding: 1rem;
  min-width: 280px;
  flex: 0 0 auto;
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
  min-height: 300px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.05);

  &__header {
    margin-bottom: 0.4rem;

    > * {
      margin: 0.4rem 0;
    }
  }

  &__short-date {
    font-size: 1rem;
    font-weight: 600;
  }

  &__full-date {
    font-size: 0.85rem;
    color: var(--text-secondary);
    margin: 0;
  }

  &__details {
    display: flex;
    flex-direction: column;
    gap: 0.9rem;
    margin: 0.25rem 0;
  }

  &__location,
  &__total-hours {
    display: flex;
    align-items: center;
    font-size: 0.85rem;
    margin: 0;

    svg {
      margin-right: 0.5rem;
      color: var(--primary);
    }
  }

  &__appointments {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }
}

.appointment-card {
  background: var(--text-white, #f9f9f9);
  border: 1px solid var(--border-light, #ccc);
  border-radius: var(--radius-small, 0.25rem);
  padding: 0.65rem;
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
  margin-top: 0.5rem;
  min-height: 80px;
    p {
    margin: 0;
    font-size: 0.85rem; /* default size for paragraphs */
  }
}

.appointment-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.appointment-name {
  font-weight: 500;
  font-size: medium;
  color: var(--text-primary, #1F2937);
}

.appointment-duration {
  display: inline-block;
  background-color: var(--light, #bcf4f9); // choose your color
  color: var(--text-secondary);      
  font-size: 0.85rem;
  border-radius: 9999px;
  padding: 0.25rem 0.5rem; 
 
}

.appointment-time {
  font-size: 0.85rem;
  color: var(--text-secondary);
}
