.setavailability-card {
  background: var(--bg-card);
  border-radius: 16px;
  
  padding: 1rem 1.5rem;
  margin-top: 1.5rem;
  border: 2px solid var(--border-light);
   box-sizing: border-box; 
  width: 100%;
  overflow: hidden; 

}
