.setavailability-day-card {
    width: 100%;
 background-color: var(--bg-card-light, #f8fafc);
  border: 1px solid var(--border-light);
  border-radius: var(--radius-xlarge);
  padding: 1rem;
  text-align: center;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: all 0.2s ease;
  
  &:hover {
    background: var(--bg-hover);
    color: var(--text-white);
    cursor: pointer;
     h4,
    p,
    span {
      color: var(--text-white);
    }
}


  &__header h4 {
    margin: 0;
    font-size: 1rem;
    font-weight: 600;
  }

  &__date {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 0.25rem;

    .date-number {
      font-size: 1.5rem;
      font-weight: 700;
      color: var(--primary);
    }

    .month {
      font-size: 0.95rem;
      color: var(--text-secondary);
    }
  }
}

.setavailability-day-card.selected {
  background-color: var(--bg-hover);
  color: var(--text-white);
  
  h4,
  p,
  span,
  .date-number,
  .month {
    color: var(--text-white);
  }
}